@font-face {
    font-family: "Instagram";
    src: url(../assets/fonts/instagram.otf) format('opentype');
}  
@font-face {
    font-family: "SFProLight";
    src: url(../assets/fonts/sfpro_light.otf) format('opentype');
}  
@font-face {
    font-family: "SFProRegular";
    src: url(../assets/fonts/sfpro_regular.otf) format('opentype');
}  
@font-face {
    font-family: "SFProMedium";
    src: url(../assets/fonts/sfpro_medium.otf) format('opentype');
}  
@font-face {
    font-family: "InstaSansLight";
    src: url(../assets/fonts/InstagramSans-Light.ttf) format('truetype');
}  
@font-face {
    font-family: "InstaSansRegular";
    src: url(../assets/fonts/InstagramSans-Regular.ttf) format('truetype');
}  
@font-face {
    font-family: "InstaSansMedium";
    src: url(../assets/fonts/InstagramSans-Medium.ttf) format('truetype');
}  
html,
body {
	margin: 0;
    box-sizing: border-box;
    /* height:100%;
	min-height: 100%; */
}
/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
header,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 400;
    margin-top: 2rem;
}
h2:not(:first-child){
    margin-top:2rem !important;
}
:root{
    --ff-serif:"Instagram", serif;
    --ff-sans-light:"InstaSansLight",sans-serif;
    --ff-sans-regular:"InstaSansRegular",sans-serif;
    --ff-sans-medium:"InstaSansMedium",sans-serif;
       /* font-sizes */
       --fs-600: 1.5rem;
       --fs-500: 1.75rem;
       --fs-400: 1.1rem;
       --fs-300: 1rem;
       --fs-200: 0.8rem;
       /* --fs-title: 1.5rem; */
}

.ff-serif { font-family: 'Instagram'; }
.ff-sans-serif { font-family: 'Segoe UI'; }
.ff-sans-regular { font-family: var(--ff-sans-regular); }  
.ff-sans-light { font-family: var(--ff-sans-light); }  
.ff-sans-medium { font-family: var(--ff-sans-medium); } 
.fs-600{ font-size: var(--fs-600);}
.fs-500{ font-size: var(--fs-500);}
.fs-400{ font-size: var(--fs-400);}
.fs-300{ font-size: var(--fs-300);}
.fs-200{ font-size: var(--fs-200);
font-weight: 400;}
.text-gray{color:rgba(100,100,100,255);}
.text-red{color:rgb(189, 21, 21)}

body{
    background-color: rgb(250, 250, 250);
}
table{
    width: 100%;
    border:1px solid;
    text-align: left;
}
th{
    /* text-align: center; */
}
 td {
    /* border: 1px solid; */
    background-color: rgb(235, 235, 235);;
  }
  /* th,td{ 
    padding: 0.2rem 0.2rem;
  } */
#nav-1,#nav-2{
    z-index: 1000;
}
#nav-1{
    background-color: white;
    /* height:clamp(2rem,10vw,3rem); */
    position: fixed;
    width:100%;
    top:0;
    padding:0.5rem 1.5rem 0.5rem 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(211, 211, 211);
}
#buttonNav{
    /* background-color: aqua; */
    justify-content: space-between;
}
.arrow-down{
    width: 1rem;
    aspect-ratio: 1;
    background: url(../assets/icons/arrow-down-icon.png) center center;
    background-size: cover;
}
.logo-desktop,
.logo{
    font-weight: 100;
}
.logo-desktop{
    margin: 1rem 0 3rem 0 !important; 
 }

.heart-icon{
    background: url('../assets/icons/heart-icon.png') center center no-repeat ;
}
.messenger-icon{background: url('../assets/icons/messenger-icon.png') center center no-repeat ;}
.messenger-icon-active{background: url('../assets/icons/messenger-icon-night.png') center center no-repeat ;}


.home-icon{background: url('../assets/icons/home-icon.png') center center no-repeat;}
.home-icon-active{background: url('../assets/icons/home-icon-night.png') center center no-repeat;}
.about-icon{background: url('../assets/icons/search-icon.png') center center no-repeat;}
.about-icon-active{background: url('../assets/icons/search-icon-night.png') center center no-repeat;}
.post-icon{background: url('../assets/icons/post-icon.png') center center no-repeat;}
.post-icon-active{background: url('../assets/icons/post-icon-night.png') center center no-repeat;}
.result-icon{background: url('../assets/icons/explore-icon.png') center center no-repeat;}
.result-icon-active{background: url('../assets/icons/explore-icon-night.png') center center no-repeat;}

.account-icon{background: url('../assets/icons/account-icon.png') center center no-repeat;}
.follow-icon,
.like-icon{background: url('../assets/icons/like-icon.png') center center no-repeat;}
.follow-icon-active,
.like-icon-active{
    background: url('../assets/icons/like-icon-night.png') center center no-repeat;}
.comment-icon{background: url('../assets/icons/comment-icon.png') center center no-repeat;}
.share-icon{background: url('../assets/icons/share-icon.png') center center no-repeat;}
.save-icon{background: url('../assets/icons/save-icon.png') center center no-repeat;}

.wrap-center{
    width: 60%;
    margin:0 auto;
}
.left-post-icons>*,
.save-icon,
.icons-nav-2,
.icons-wrapper>*{
    width: 1.7rem;
    aspect-ratio: 1;
    background-size:1.7rem;
    /* background-color: blue; */
}
.buttons{
    cursor: pointer;
}
.posts{
    width:100%;
    background-color: white;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    /* border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211); */
    border: 1px solid rgb(211, 211, 211);
}
/* .posts>*:not(:first-child){

    margin-top:0.5rem;
} */
.posts>table,
.posts>p,
.posts>span{
    margin-top:0.5rem;
}
.posts>h3{
    margin-top:2rem;
}

.posts-trial-1[data-visible="true"],
.posts-trial-2[data-visible="true"],
.posts-trial-3[data-visible="true"]{
    display:block;
}
.posts-trial-1[data-visible="false"],
.posts-trial-2[data-visible="false"],
.posts-trial-3[data-visible="false"]{
    display:none;
}

.profile-post-wrapper{
    gap:0.5rem;
    margin-bottom:1rem;
    align-items: center;
}

.profile-img-circle{
    width:1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
}

.post-interact-icons{
    align-items: center;
    justify-content: space-between;
}
.left-post-icons{
    gap:1rem;
}
.pages-nav-2,
a{
    color: black;
    text-decoration:none;
}
.video{
    width: calc(100% + 3rem); 
    aspect-ratio: 1;
    margin-left: -1.5rem;    
    background-color: black;
}

.sub-menu{
    display: none;
    position: absolute;
    left:-1px;
    padding: 0.5rem 1.5rem;

    width:100.375%;
    flex-direction: column;
    background-color: white;
    border-right: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    border-left: 1px solid rgb(211, 211, 211);
    border-radius: 0 0 10px 10px;
    z-index: 1;
}
.sub-menu>span{
    display: block;
    background-color: white;
    margin: 0.25rem 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.day-button{
    display: block;
    position: relative;
}
.day-button:hover .sub-menu{
    display: flex;
}

.embed-tweet{
    width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
@media (max-width:34.99em){
}
@media (min-width:35em){
    .wrap-center{
        width:100%;
        max-width: 35rem;
    }
    .posts{
        border-radius: 10px;
    }
}

/* ICONS APEAR ON THE LEFT */
@media(max-width:54.99em){
    .wrap-center{
        width: 100%;
    }
    .tabs-hidden-mobile{
        display:none !important;
    }
    .icons-wrapper>*:not(:first-child){
        /* height:2rem; */
        margin-left:1rem;
    }
    #nav-2{
        position: fixed;
        bottom:0;
        background-color: white;
        width:100%;
        padding:0.5rem 1.5rem;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(211, 211, 211);
    }
}
@media (min-width:55em){

    #nav-1{
        display:none;
    }

    #nav-2{
    position: fixed;
    inset: 0;
    left:0;
    background-color: white;
    width:clamp(4.5rem, 10vw, 7.5rem);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    padding-top:2rem;
    border-right: 1px solid rgb(211, 211, 211);
    

    }
    #nav-2>*{
        margin: 1.5rem 0;
    }
    
    .wrap-center{
        width:100%;
        max-width:35rem;
    }
}
@media(max-width:69.99em){

    .logo-desktop,
    .pages-nav-2{
       display: none;
    }

}

@media (min-width:70em){
    #nav-2{
        width:clamp(15rem,20vw,21rem);
        align-items: flex-start;
        padding: 2rem 2rem ;
    }
    
    .tabs-wrapper{
        display: block;
        width: 100%;
        gap:1rem;    
    }
 
}

/*              Utility Class */
/*              Utility Class */
.flex{display:flex;}
.no-display{display:none;}
.blank{height:3rem;
}